# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust
target
pkg

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Frontend
node_modules
dist
auto-imports.d.ts
components.d.ts

# Nx
.nx
